@charset "UTF-8";

/* Paleta de cores 
    Verde: #49a09d
    Lilás: #5f2c82

*/
* {
    padding: 0px;
    margin: 0px;
}
header {
    width: 100vw;
    height: 200px;
    background-color: white;
}
.logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;

}
.conteiner {
    display: flex;
    gap: 10px;
    
    
}
nav{
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}
.navbar {
    list-style-type: none;
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimento */
    display: flex; /* Exibe os itens em linha */
    justify-content: center;
}
.navbar li {
    margin: 0 30px;/* Espaçamento horizontal entre os itens */
}
.navbar a {
    color: black; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s; /* Efeitos de transição */
}
.navbar a:hover {
    background-color:  #5f2c82; /* Fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
}

.produtos {
    height: 100vh;
    display: block;
    margin: auto;
    width: 70vw;
    background-color: white;
}
body {
    background-image: linear-gradient(#494fa0 , #5f2c82);
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
}